<div>

  <GameScreen>
    <script>
      var ScreenComponent = require('./../screen');
      console.log(this._component);
      this._component = this._component || new ScreenComponent.Screen({}, document.getElementsByTagName('gameScreen')[0]);
    </script>
  </GameScreen>

  <div class="user-menu">
    <div class="profile-card">
      <span class="user-name">Esmoreit</span>
    </div>
    <ul class="list-unit">
      <li>
        <ul class="unit-desc">
          <li></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
