<script>
  var status = data.store.getState(),
      modalClass = 'user-not-logged ' + (status.user.status === 'afk' ? '' : 'hidden');
</script>
<GameScreen></GameScreen>
<div class="user-menu" if="status.user.status !== 'afk'"></div>
<script>
  if (status.user.status !== 'afk') {
    var UserViewBar = require('./../userViewBar');
    this.userSidebar = new UserViewBar.UserViewBar(this.store, document.getElementsByClassName('user-menu')[0]);
    if (this.screenView) this.screenView.renderScene(document.getElementsByTagName('gameScreen')[0]);
  }

  var ScreenComponent = require('./../screen');
  this.screenView = this.screenView || new ScreenComponent.Screen(this.store, document.getElementsByTagName('gameScreen')[0]);
</script>
