body{
  background: #333;
  margin: 0;
  padding: 0;
  font-family: monospace, monospace;
  font-size: 0.9em;
};

div.something{
  color: blue;
}

.user-menu{
  position: fixed;
  color: #fff;
  top: 0;
  right: 0;
  background: rgba(255,255,255,0.1);
  box-shadow: inset 0 0 2px #333;
  border: 1px solid #fff;
  border-style: solid;
  -webkit-border-image:
    -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0.3))) 1 100%;
  -webkit-border-image:
    -webkit-linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.3)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.3)) 1 100%;
  -o-border-image:
    -o-linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.3)) 1 100%;
  border-image:
    linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.3)) 1 100%;

  width: 15%;
  padding: 10px;

  ul{
    padding: 10px 0;
    margin: 10px 0;
    list-style: none;
  }

  >div>*{
    border-bottom: 1px solid #fff;
  }
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(10,10,10, 0.8);
  box-shadow: inset -2px -1px 1px #000;
  overflow: hidden;
  position: relative;

  >img{
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.main > div {
}

.user-not-logged{
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  display: table;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  &.hidden{
    display: none;
  }

  .modal{
    background: rgba(255,255,255,0.8);
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    .modal--conent{
      overflow: hidden;
    }
  }
}
